<%- include('header') -%>


<div class="dashboard-form">
    <form action="/user/dashboard/todo" method="POST">
        <input type="text" placeholder="Enter todo" name="todo" required/>
        <button class="save" type="submit">Save</button>
    </form>
</div>


<table>
    <% for(let x of locals.data)  { %>
        <form action="/user/dashboard/todo/done" method="POST">
            <div class="done">
                <tr>
                    <td>
                        <li class="todo-list"><%= x.todo %>  </li>
                        <input type="hidden" value="<%= x.id %>" name="todoDone" />
                    </td>
                    <td>
                        <button class="tablebutton" type="submit">Clear</button></td>
                    </td>     
                </tr>
            </div>
        </form>
    <% } %>
</table>





<%- include('footer') -%>